<div class="container row">
  <div class="index-left col-xs-12 col-md-8 col-md-offset-2">
  <h1><%= link_to "Your Jobs :#{@jobs.count}", jobs_path %></h1>
  <%= link_to 'Create a Job', new_job_path %>
  <ul>
    <% @jobs.each do |job| %>
    <li>
      <div class="message user-card">

        <%= cl_image_tag(job.user.photo.url, class: "avatar-medium") %>
        <div class="message-name">
          <h3><%= link_to job.title.capitalize, job %></h3>
          <o><%= link_to job.location, job %></p>
        </div>
        <div class="message-body">
          <p><strong><p class="fas fa-clipboard-check">Company: <%= job.user.name %></p></strong></p>
          <p>Start Date: <%= job.start_date.strftime("%d-%m-%Y") %></p>
        </div>
        <div class="message-status">
          <!-- <p class="status pending">Pending</p> -->
          <p class="price">£<%= job.rate %> per day</p>
        </div>
      </div>

    </li>
    <% end %>
  </ul>
  </div>

  <div class="col-sm-5">
    <div
      id="map"
      style="width: 100%; height: calc(100vh - 100px);"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>
<%= javascript_pack_tag "map" %>

