<h1><%= link_to "siteworkrs :#{@users.count}", users_path %></h1>

<div class="container">
  <ul>
    <% @users.each do |user| %>
    <li>
      <div class="message">
        <!-- <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
        <%= cl_image_tag(user.photo, class: "avatar-large") %>
        <div class="message-name">
          <h3><%= link_to user.name.capitalize, user %></h3>
          <p><%= user.experience %></p>
        </div>
        <div class="message-body">
          <p><strong><p class="fas fa-clipboard-check"><%= user.skill %></p></strong></p>
          <p>
            <%= user.certificates %>
          </p>
        </div>
        <div class="message-status">
          <!-- <p class="status pending">Pending</p> -->
          <p class="price"><%= user.rate %></p>
        </div>
      </div>

    </li>
    <% end %>
  </ul>

</div>


<!-- <h3><%= link_to user.name.capitalize, user %></h3><br>
      <p class="fas fa-location-arrow"><%= user.address %></p><br>
      <p class="fas fa-street-view"><%= user.area_of_influence %> miles</p><br>
      <p class="fas fa-clipboard-check"><%= user.skill %></p><br>
      <p class="far fa-envelope"><%= user.email %></p><br>
      <%= link_to '', user, class: "fas fa-eye" %> <%= link_to '', edit_user_registration_path(user), class: "fas fa-edit" %> <%= link_to '', user, method: :delete, class: "fas fa-trash-alt", data: { confirm: 'Are you sure?' } %> -->
