<div class="container">
  <h3 style="text-align:right;">Dashboard</h3>
  <div class="row mg-30">
    <div class="col-xs-12 col-md-3">
      <div class="user-card" data-dates="<%= @booked_dates.to_json %>">
        <% if @user == current_user %>
        <a class="avatar-large" data-toggle="modal" data-target="#pictureModal">
          <img src="<%= @user.photo %>" alt="avatar" class="avatar-large">
        </a>
        <% else %>
          <img src="<%= @user.photo %>" alt="avatar" class="avatar-large">
        <% end %>
        <h3><%= @user.name %></h3><br>
        <p><%= @user.address %>
        <% if @user == current_user %>
          <a class="fas fa-edit" data-toggle="modal" data-target="#addressModal"></a></p>
        <% end %>
        <p>Skill: <%= @user.skill %></p>
        <p>Certificates: <%= @user.certificates %></p>
        <p>Rate: £<%= @user.rate %> per day</p>
        <% if @user == current_user && @user.company %>
         <%= link_to 'Create a Job', new_job_path, class: "btn btn-primary" %>
        <% elsif @user == current_user && !(@user.company)%>
         <%= link_to 'Find a Job', search_jobs_path, class: "btn btn-primary" %>
        <% else %>
         <%= link_to 'Connect', new_match_path(user: @user), class: "btn btn-primary" %>
        <% end  %>
      </div>
    </div>
    <div class="row">
     <div class="col-xs-12 col-md-5">
        <h5 class="profile-header">Reviews</h5>
        <div class="about-card">
          <%# Match.my_matches(@user).each do |match|  %>
            <%#= match.review.rating %>
          <%# end %>
        </div>

        <h5 class="profile-header">About me</h5>
        <div class="about-card">
          <p><%= @user.about_me %></p>
        </div>
      </div>


      <div class="col-xs-12 col-md-3">
        <div class="form-wrapper" style="width: 300px; margin: 0 auto;">
          <p>Availability</p>
          <%= simple_form_for :search, method: "get" do |f| %>
            <%= f.input :starts_at, as: :string, label: false, required: false, input_html: {id: "start_date", class: "hide-input"} %>
            <%= f.input :ends_at, as: :string, label: false, required: false, input_html: {id: "end_date", class: "hide-input"} %>
            <%= f.button :submit, "Go", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <h5 class="profile-header">Work History</h5>
        <div class="experience-card">
          <p><%= @user.experience %></p>
        </div>
      </div>



      <div class="col-xs-12 col-md-8">
        <% jobs_company = Job.index_for_company(@user) %>
        <% jobs_contractor = Job.index_for_contractor(@user) %>
        <% jobs_contractor.each do |job| %>
          <div class="message user-card">
              <%= cl_image_tag(job.user.photo.url, class: "avatar-medium") %>
            <div clas, class: "fas fa-trash-alt", class: "fas fa-trash-alt"s="message-name">
              <h3><%= link_to job.title.capitalize, job.user %></h3>
              <% location = job.location.split(",") %>
              <h3><%= location[0] + ", " + location[1] %></h3>
            </div>
            <div class="message-body">
              <h3><%= link_to job.user.name.capitalize, job.user %></h3>
              <h3>Start Date: <%= job.start_date %></h3>
            </div>
            <div class="message-status">
              <%#= job.matches.first.review.rating %>
            </div>

            </div>
            <% end %>
          </div>
          <% jobs_company.each do |job| %>
            <% job.matches.each do |match| %>
          <div class="message user-card">

              <%= cl_image_tag(match.user.photo.url, class: "avatar-medium") %>
            <div class="message-name">
              <h3><%= link_to job.title.capitalize, job %></h3>
              <o><%= link_to job.location, job %></p>
            </div>
            <div class="message-body">
              <p><strong><p class="fas fa-clipboard-check"> <%= match.user.name %></p></strong></p>
              <p>Start Date: <%= job.start_date %></p>
            </div>
            <div class="message-status">

            </div>
          </div>
        </div>
           <% end %>
          <% end %>
      </div>

    </div>
  </div>
</div>



<!-- +++++++++++++++++++++++++++++++++++++ modals++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- address Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :address %>
          <div class="form-actions">
            <%= f.button :submit, "Change",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<!-- picture Modal -->
<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          <div class="form-actions">
            <%= f.button :submit, "Change",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
