<div class="container">
  <h3 style="text-align:right;"><%= @user.name %>'s profile</h3>
  <div class="row mg-30">
    <div class="col-sm-3">
      <div class="user-card" data-dates="<%= @booked_dates.to_json %>">
        <%= cl_image_tag @user.photo, class: "avatar-large" %>
        <h3><%= @user.name %></h3><br>
        <p><%= @user.address %> <a class="fas fa-edit" data-toggle="modal" data-target="#addressModal"></a></p>
        <p>Skill: <%= @user.skill %></p>
        <p>Certificates: <%= @user.certificates %></p>
        <p>Rate: £<%= @user.rate %> per day</p>
        <%= link_to 'Contact', matches_path, class: "btn btn-primary"  %> <br><br>
        <% if @user == current_user %>
         <%= link_to 'Create a Job', new_job_path, class: "btn btn-primary" %>
        <% else %>
         <%= link_to 'Hire', new_match_path(user: @user), class: "btn btn-primary" %>
        <% end  %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-wrapper" style="width: 300px; margin: 0 auto;">
        <h3><%= @user.name.capitalize %>'s Availability</h3>
        <%= simple_form_for :search, method: "get" do |f| %>
          <%= f.input :starts_at, as: :string, label: false, required: false, input_html: {id: "start_date", class: "hide-input"} %>
          <%= f.input :ends_at, as: :string, label: false, required: false, input_html: {id: "end_date", class: "hide-input"} %>
          <%= f.button :submit, "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <h5 class="profile-header">About me</h5>
    <div class="about-card">
      <p><%= @user.about_me %></p>
    </div>
  </div>
  <div class="col-sm-9">
    <h5 class="profile-header">Work History</h5>
    <div class="experience">
      <div class="experience-card">
        <p><%= @user.experience %></p>
      </div>
    </div>
  </div>
</div>


<!-- address Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :address %>

            <%= f.input :current_password,
                        hint: "we need your current password to confirm your changes",
                        required: true,
                        input_html: { autocomplete: "current-password" } %>

          <div class="form-actions">
            <%= f.button :submit, "Change",class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
