<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <%= link_to image_tag('logo.png'), root_path, class: "siteworkr-icon" %>
  </div>

  <% if user_signed_in?  %>
  <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
      <%= link_to 'Matches', matches_path, class: "navbar-link" %>
      <%= link_to 'Your Profile', user_path(current_user), class: "navbar-link" %>

      <!-- Profile picture with dropdown list -->
      <div>
        <div class="dropdown">
          <img src="<%= current_user.photo %>"" class="avatar">
          <div class="dropdown-content dropdown-menu-right">
            <%= link_to 'Edit Profile', edit_user_registration_path %> <br>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>

  <% else  %>

    <div class="navbar-right hidden-xs hidden-sm">
     <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %>
     <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
    </div>

  <% end %>

</div>
