<% count = Match.my_unread_count(current_user) if user_signed_in?  %>
<% new_jobs = Match.new_offers(current_user) if user_signed_in?  %>
<div class="navbar">
  <!-- Logo -->
  <div class="navbar-left">
    <%= link_to image_tag('apple-icon-72x72.png'), root_path, class: "siteworkr-icon" %>
    <h2><%= link_to "Siteworkr", root_path%></h2>
  </div>

  <% if user_signed_in?  %>
  <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">
      <% if new_jobs != 0 %>
        <%= link_to "Job offers", matches_path, class: "navbar-link" %>
        <p class="counter"><%= new_jobs %></p>
      <% end %>

      <%= link_to "Connections", matches_path, class: "navbar-link" %>
      <% if count != 0 %>
       <p class="counter"><%= count %></p>
      <% end %>
      <%= link_to 'Dashboard', user_path(current_user), class: "navbar-link" %>

      <!-- Profile picture with dropdown list -->
      <div>
        <div class="dropdown">
          <%= cl_image_tag(current_user.photo.url, class: "avatar margin-added") %>
          <div class="dropdown-content dropdown-menu-right">
            <%= link_to 'Edit Profile', edit_user_registration_path %> <br>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>
    </div>

  <% else  %>

    <div class="navbar-right hidden-xs hidden-sm">
     <a class="btn btn-primary" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
     <a class="btn btn-primary" data-toggle="modal" data-target="#logInModal">Log in</span></a>
    </div>

  <% end %>

   <div class="hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars"></i>
      <div class="dropdown-content dropdown-menu-right">
        <% if user_signed_in?  %>
          <%= link_to 'Matches', matches_path %> <br>
          <%= link_to 'Your Profile', user_path(current_user) %> <br>
          <%= link_to 'Edit Profile', edit_user_registration_path %> <br>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% else  %>
         <%= link_to 'Log in', new_user_session_path %> <br>
         <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>

    </div>
  </div>
</div>


<!-- signUp Modal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-inputs">

          <%= f.input :name,
              required: true,
              input_html: { autocomplete: "name" }%>

          <%= f.input :email,
              required: true,
              autofocus: true ,
              input_html: { autocomplete: "email" }%>

          <%= f.input :password,
              required: true,
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
              input_html: { autocomplete: "new-password" } %>

          <%= f.input :password_confirmation,
              required: true,
              input_html: { autocomplete: "new-password" } %>
            <%= "Are you a looking to hire?" %>
            <%= f.input :company, as: :boolean, checked_value: true, unchecked_value: false  %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- logIn Modal -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Log in",class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
