<div class="banner banner-home" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.2) 50%), url(<%= image_path("construction.png") %>);
">
  <div class="banner-content">
    <h1>SITEWORKr</h1>
    <h3>Build a workforce or join a team</h3>
    <p>connect to local skilled siteworkrs</p>
    <br>
    <div class="search row">
      <%= form_tag search_users_path, method: :get, class: "home-form" do %>
      <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
        <%= text_field_tag :search, params[:search], placeholder: "Skillset", class: "search1" %>
        <%= text_field_tag :search2, params[:search2], placeholder: "Location", class: "search1" %>
        <%= button_tag :submit, class: "search-btn search1" do %>
        <%= "Search" %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<!-- how it works banner -->
<div class="container-fluid how-to-wrapper">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h2>How does Siteworkr work?</h2>
        <p>Siteworkr is the easy way to find work near you. Or skilled & qualified workrs near your site</p>
      </div>
    </div>
  </div>
  <div class="row how-it-works">
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-item">
        <%= image_tag("id-card.svg", class: "how-image-1")  %>
        <div class="how-it-text">
          <h4>Create a Profile</h4>
          <p>Add all your details:</p>
          <p>Skills, qualifications, location</p>
          <p>& a profile picture</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-item">
        <%= image_tag("placeholder.svg", class: "how-image") %>
        <div class="how-it-text">
          <h4>Search & be Discovered</h4>
          <p>Find local skilled workrs</p>
          <p> Or</p>
          <p>Find local jobs</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="how-it-item">
        <%= image_tag("like.svg", class: "how-image") %>
        <div class="how-it-text">
          <h4>Get matched</h4>
          <p>Connect</p>
          <p>start working</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonials -->
<div class="container-fluid how-to-wrapper">
  <div class="row test-wrapper">
    <div class="col-xs-12">
      <h2>Testimonials</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>workrs</h2>
        <div class="test-text">
          <h4>Joining Siteworkr is easy</h4>
          <p>Before Siteworkr I was travelling 200 miles up and down the motorway for work. Often staying in temporary accomodation away from my family. Siteworkr brings the work to me, companies now contact me directly to work on sites just minutes from home</p>
          <div>
          <p>Registration is free and simple. Siteworkr is like my very own recruitment agent finding me the best local work specific to my skillset</p>
          </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% User.not_company.each do |user| %>
    <img src="<%= user.photo.url %>" alt="avatar" class="avatar-super">
      <div class="test-text">
      <p class="test-padding"><strong><%= user.name %></strong> - <i><%= user.skill %></i></p>
      </div>
    </div>
    <% end %>
  </div>
    <div class="col-xs-12 col-sm-6">
      <% User.not_workr.each do |user| %>
      <img src="<%= user.photo.url %>" alt="avatar" class="avatar-super">
            <div class="test-text">
            <p><strong><%= user.name %></strong> - <i><%= user.skill %></i></p>
            </div>
    </div>
      <div class="col-xs-12 col-sm-6">
      <h2>company</h2>
        <div class="test-text">
          <h4>Recruiting made easy</h4>
          <p>Before Siteworkr we were spending huge amounts of our budget on travel costs, accomodation and upsetting our own site staff. It's transformed finding the right staff locally, quickly and effectively.</p>
        </div>
        </div>
          <p>We can efficiently and confidently take on projects no matter the location.</p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Recently joined candidates -->
<div class="container-fluid new-users-wrapper">
  <div class="row header-wrapper">
    <div class="col-xs-12">
      <h2>Recently joined candidates</h2>
    </div>
  </div>
  <div class="row user-wrapper">
        <% User.latest_not_companies.each do |user| %>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card-recently">
        <img src="<%= user.photo.url %>" alt="avatar" class="avatar-large">
        <h4><%= link_to user.name, user %></h4>
        <p> <%= user.skill %></p>
      </div>
    </div>
      <% end %>
  </div>
</div>

<!-- Trusted By-->
<div class="container-fluid trusted-by">
  <div class="row trusted-wrapper">
    <div class="col-xs-12">
      <div>
        <h2>Trusted By</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 text-center pagination-centered">
    <%= image_tag("skanska.jpg", class: "trusted") %>
    </div>
    <div class="col-xs-2 text-center pagination-centered">
    <%= image_tag("kier.jpg", class: "trusted") %>
    </div>
    <div class="col-xs-2 text-center pagination-centered">
      <%= image_tag("mitie.jpg", class: "trusted") %>
    </div>
    <div class="col-xs-2 text-center pagination-centered">
      <%= image_tag("Lafarge.png", class: "trusted") %>
    </div>
    <div class="col-xs-2 text-center pagination-centered">
      <%= image_tag("balfour.png", class: "trusted-1") %>
    </div>
    <div class="col-xs-2 text-center pagination-centered">
      <%= image_tag("laing-logo.jpg", class: "trusted") %>
    </div>
  </div>
</div>


<%#= date_field_tag :search3, params[:search3], placeholder: "Dates", class: "search1" %>
