<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <% if @match.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @match.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.association :user %><br>
    <%= f.association :job %><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<!-- TAKE IT AS A PLACEHOLDER -->
