<div class="container row">
  <div class="index-left col-xs-12 col-md-8 col-md-offset-2">
  <h1><%= link_to "Matches :#{@matches.count}", matches_path %></h1>
  <%= link_to 'Add match', new_match_path %>
  <ul>
    <% @matches.each do |match| %>
    <li>
      <div class="message user-card">

        <%= cl_image_tag(match.job.user.photo, class: "avatar-medium") %>
        <div class="message-name">
          <h3><%= link_to match.job.title.capitalize, match %></h3>
        </div>
        <div class="message-body">
          <p><strong><p class="fas fa-clipboard-check">Company: <%= match.job.user.name %></p></strong></p>
          <p>Start Date: <%= match.job.start_date %></p>
        </div>
        <div class="message-status">
          <!-- <p class="status pending">Pending</p> -->
          <p class="price">£<%= match.job.rate %> per day</p>
        </div>
      </div>

    </li>
    <% end %>
  </ul>
  </div>
</div>
<%= javascript_pack_tag "map" %>

------


<%= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
