<h1><%= link_to "matches(#{@matches.count})", matches_path %></h1>
<%= link_to 'Add match', new_match_path %>
<div class="container">
  <ul>
    <% @matches.each do |match| %>
    <li>
      <h3>Job: <%= link_to match.job.title, match %></h3><br>
      <p>Company: <%= match.job.user.name %></p>
      <p>Rate: <%= match.job.rate %></p>
      <p>Start: <%= match.job.start_date %></p>
      <p>Duration: <%= match.job.duration %></p>
      <p>Contractor: <%= match.user.name %></p>

      <%= link_to '', match, class: "fas fa-eye" %> <%= link_to '', edit_match_path(match), class: "fas fa-edit" %> <%= link_to '', match, method: :delete, class: "fas fa-trash-alt", data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>

</div>


