<div class="tabs-messages">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Job Inbox</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">General</a></li>
  </ul>

  <!-- Tab panes -->


</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 list-container">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
          <ul>
            <% Match.ordered(current_user).reverse.each do |match| %>
              <li>
                <div class="message user-card">
                  <% if current_user == match.user %>
                    <div class="counter-position">
                      <%= cl_image_tag(match.job.user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>
                    </div>
                    <div>
                    <h3><%= link_to match.job.user.name.capitalize, match %></h3>
                      <% if match.hired && !match.accepted %>
                        <%= link_to "To be accepted", match, class: "small-text" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="counter-position">
                      <%= cl_image_tag(match.user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>

                    </div>

                    <div class="message-name">
                      <h3><%= link_to match.user.name.capitalize, match %></h3>
                        <% if match.hired && !match.accepted %>
                          <%= link_to "To be accepted", match, class: "small-text" %>
                        <% end %>
                    </div>
                  <% end %>
                  <div class="message-body">
                    <p><%= match.job.title %></p>
                    <% location = match.job.location.split(",") %>
                    <h6><%= link_to location[0] + ", " + location[1], match %></h6>
                    <p><%= match.job.skill.capitalize %></p>
                  </div>
                  <div class="message-status">
                    <p>Start Date: <%= match.job.start_date.strftime("%d-%m-%Y") %></p>
                    <p class="price">£<%= match.job.rate %> per day</p>
                      <%#= link_to "", match_path(match), my_matches: @matches, method: :delete, class: "fas fa-trash-alt" %>
                    <!-- class: "sweet-alert-demo" -->
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
          <ul>
            <% Match.ordered_queries(current_user).each do |match| %>
              <li>
                <div class="col-xs-12 col-md-12">
                  <div class="message user-card">
                    <% if current_user == match.user %>
                      <% query_user = match.job.user %>
                    <% else %>
                      <% query_user = match.user %>
                    <% end %>

                    <div class="counter-position">
                      <%= cl_image_tag(query_user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>
                    </div>
                    <div>
                    <h3><%= link_to match.job.user.name.capitalize, match %></h3>
                      <% if match.hired && !match.accepted %>
                        <%= link_to "To be accepted", match, class: "small-text" %>
                      <% end %>
                    </div>
                    <div class="message-name">
                      <h3><%= link_to query_user.name.capitalize, match %></h3>
                    </div>

                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div
        id="map"
        style="width: 100%; height: calc(100vh - 160px);"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "alert" %>


