<h1><%= link_to "matches(#{@matches.count})", matches_path %></h1>
<%= link_to 'Add match', new_match_path %>
<div class="container">
  <ul>
    <% @matches.each do |match| %>
    <li>
      <h3>Job: <%= link_to match.job.title, match %></h3><br>
      <p>Company: <%= match.job.user.name %></p>
      <% unless match.job.rate == nil %>
        <p>Rate: <%= match.job.rate %></p>
      <% end %>
      <p>Start: <%= match.job.start_date %></p>
      <% unless match.job.duration == nil %>
        <p>Duration: <%= match.job.duration %></p>
      <% end %>
      <p>Contractor: <%= match.user.name %></p>

      <%= link_to '', match, class: "fas fa-eye" %> <%= link_to '', edit_match_path(match), class: "fas fa-edit" %> <%= link_to '', match, method: :delete, class: "fas fa-trash-alt", data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>

</div>


------


<%= link_to 'Add user', new_user_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
