<h3>Job: <%= @match.job.title %></h3><br>
<p>Company: <%= @match.job.user.name %></p>
<p>Rate: <%= @match.job.rate %></p>
<p>Start: <%= @match.job.start_date %></p>
<p>Duration: <%= @match.job.duration %></p>
<p>Contractor: <%= @match.user.name %></p>

<%= link_to '', edit_match_path(@match), class: "fas fa-edit" %>
<%= link_to 'Back', matches_path %>
