<div class="container">
  <h3 style="text-align:right;"><%= @match.job.user.name %>'s messages  <%= link_to 'Back to Matches', matches_path , class: "btn btn-primary" %></h3>

  <div class="row mg-30">
    <div class="col-sm-3">
      <div class="user-card">
        <% if current_user == @match.user %>
          <%= cl_image_tag @match.job.user.photo.url, class: "avatar-large" %>

          <h3><%= link_to "#{@match.job.user.name}", user_path(@match.job.user)%></h3>
          <p><%= @match.job.user.address %></p>
          <p>Skill: <%= @match.job.skill %></p>
          <p>Certificates: <%= @match.user.certificates %></p>
          <p>Reviews: <%= @reviews.count %></p>
          <p>User Rate: £<%= @match.job.rate %> per day</p>
          <% if @match.job.title != "Query" && !(Review.exist?(current_user.id, @match.id)) %>
            <%= link_to "Leave review", new_match_review_path(@match), class: "btn btn-primary btn-margin-btm" %>
          <% end %>
        <% else %>
            <%= cl_image_tag @match.user.photo.url, class: "avatar-large" %>
            <h3><%= @match.user.name %></h3><br>
            <p><%= @match.job.location %></p>
          <% if @match.job.title != "Query" && !(Review.exist?(current_user.id, @match.id)) %>
            <%= link_to "Leave review", new_match_review_path(@match), class: "btn btn-primary btn-margin-btm" %>
          <% end %>

            <!-- added reviews in matches -->
            <p>Reviews: <%= @reviews.count %></p>
            <% @reviews.each do |review|%>
             <p><%= review.content %></p>
            <% end %>
            <p> User rate: £<%= @match.user.rate %> per day</p>
          <% if @match.job.title == "Query" && current_user.company %>
              <%= link_to 'Add to a job', new_match_path(user: @match.user), class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
      <% if current_user == @match.user %>
        <% @reviewed_user = @match.job.user %>
      <% else %>
       <% @reviewed_user = @match.user %>
      <% end %>

      <% unless @match.job.title == "Query" %>
      <div class="user-card">
          <% if @match.hired != true && current_user.company %>
            <%= simple_form_for(@match, :url => hire_matches_path, method: :post) do |form| %>
              <%= hidden_field_tag :match_id, @match.id %>
              <%= form.button :submit, "Hire #{@match.user.name.capitalize}", class: "btn btn-primary", id: "hire" %>
            <% end %>
          <% elsif (@match.hired && @match.accepted == false) && current_user.company == false %>
            <%= simple_form_for(@match, :url => accept_matches_path, method: :post) do |form| %>
              <%= hidden_field_tag :match_id, @match.id %>
              <%= form.button :submit, "Accept Job", class: "btn btn-primary", id: "accept" %>
            <% end %>
          <% elsif (@match.accepted && @match.hired) && !@match.job.finished? %>
            <%= simple_form_for(@match.job, :url => finish_jobs_path, method: :post) do |form| %>
              <%= hidden_field_tag :job_id, @match.job_id %>
              <%= form.button :submit, "Mark Job as Finished", class: "btn btn-primary", id: "finish" %>
            <% end %>
          <% end %>
          <h3><%= @match.job.title %></h3><br>
          <p><%= @match.job.location %></p>
          <p>Job Rate: £<%= @match.job.rate %> per day</p>
          <p>Skill: <%= @match.job.skill %></p>
          <p>Start date: <%= @match.job.start_date %></p>
          <p>End date<%= @match.job.end_date %></p>

      </div>
      <% end %>

    </div>
    <div class="col-sm-9">
      <div class="messages-list">
        <% @match.messages.each do |message| %>
          <% if message.body %>
            <% message.user = User.find(message.user_id) %>
            <div class="messages">
              <% if message.user_id == current_user.id %>
                <div class="your_message">
                  <div class="content">
                    <div class="small-text"><strong><%= message.user.name %></strong> <%= message.created_at.strftime(" %H:%M %d-%m-%Y") %></div>
                    <%= message.body %>
                  </div>

                   <%= cl_image_tag message.user.photo.url, class: "avatar" %>
              <% else %>
                <div class="other_message">
                 <%= cl_image_tag message.user.photo.url, class: "avatar" %>
                <div class="content">
                 <div class="small-text"><strong><%= message.user.name %></strong> <%= message.created_at.strftime(" %H:%M %d-%m-%Y") %></div>
                 <%= message.body %>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <div class= "type-message">
      <%= form_for [@match, Message.new], html: {class: "ui reply form"} do |f| %>
        <div class="field">
          <%= f.text_area :body, class: "form-control" %>
        </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden", class: "field-side"  %>
        <div>
          <%= f.submit "Send", class: "btn btn-primary btn-side" %>
        </div>

      <% end %>
    </div>
      <%= javascript_pack_tag "buttons" %>
      <%= javascript_pack_tag "messages" %>

    </div>
  </div>
</div>


<% content_for :after_js do %>
  <script>
    console.log("adfasdfasdf")
    scrollLastMessageIntoView();
    App['match_<%= @match.id %>'] = App.cable.subscriptions.create(
      { channel: 'MatchesChannel', match_id: <%= @match.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages-list');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
