<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Job Inbox</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">General</a></li>
  </ul>

  <!-- Tab panes -->


</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5 list-container">
      <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home">
          <ul>
            <% Match.ordered(current_user).reverse.each do |match| %>
              <li>
                <% if match == @match%>
                  <div class="message user-card selected">

                <% else %>
                  <div class="message user-card">
                <% end %>

                  <% if current_user == match.user %>
                    <div class="counter-position">
                      <%= cl_image_tag(match.job.user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>
                    </div>
                    <div>
                    <h3><%= link_to match.job.user.name.capitalize, match %></h3>
                      <% if match.hired && !match.accepted %>
                        <%= link_to "To be accepted", match, class: "small-text" %>
                      <% end %>
                    </div>
                  <% else %>
                    <div class="counter-position">
                      <%= cl_image_tag(match.user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>
                    </div>
                     <div>
                    <h3><%= link_to match.user.name.capitalize, match %></h3>
                      <% if match.hired && !match.accepted %>
                        <%= link_to "To be accepted", match, class: "small-text" %>
                      <% end %>
                    </div>
                  <% end %>

                  <div class="message-name">
                    <p><%= match.job.title %></p>
                    <% location = match.job.location.split(",") %>
                    <h6><%= link_to location[0] + ", " + location[1], match %></h6>
                    <p><%= match.job.skill.capitalize %></p>
                  </div>
                  <div class="message-body">

                    <p>Start Date:</p><br>
                    <p><%= match.job.start_date.strftime("%d-%m-%Y") %></p>
                    <p class="price">£<%= match.job.rate %> per day</p>
                  </div>
                  <div class="message-status">
                      <%= link_to "", match_path(match), my_matches: @matches, method: :delete, class: "fas fa-trash-alt" %>
                    <!-- class: "sweet-alert-demo" -->
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
          <ul>
            <% Match.ordered_queries(current_user).each do |match| %>
              <li>
                <div>
                  <% if match == @match%>
                    <div class="message user-card selected">

                  <% else %>
                    <div class="message user-card">
                  <% end %>
                    <% if current_user == match.user %>
                      <% query_user = match.job.user %>
                    <% else %>
                      <% query_user = match.user %>
                    <% end %>

                    <div class="counter-position">
                      <%= cl_image_tag(query_user.photo.url, class: "avatar-medium") %>
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <% if count != 0 %>
                        <%= link_to count, match, class: "counter" %>
                      <% end %>
                    </div>
                    <div>
                    <h3><%= link_to match.job.user.name.capitalize, match %></h3>
                      <% if match.hired && !match.accepted %>
                        <%= link_to "To be accepted", match, class: "small-text" %>
                      <% end %>
                    </div>
                    <div class="message-name">
                      <h3><%= link_to query_user.name.capitalize, match %></h3>
                    </div>
                    <div class="message-status">
                      <% count = Match.unread_count(match.messages, current_user) %>
                      <p><%= "(#{count})" %></p>
                      <%= link_to "", match_path(match), method: :delete, class: "fas fa-trash-alt" %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-7  list-height">

      <div class="row map-messages">
        <div class="col-xs-12 col-md-7">
          <div class="messages-show row user-card map-messages">
            <% if current_user == @match.user %>
              <div class="col-xs-5">
                <%= cl_image_tag @match.job.user.photo.url, class: "avatar-large" %> <br>
                <h3><%= link_to "#{@match.job.user.name}", user_path(@match.job.user), class: "user-msg" %></h3>
              </div>
              <div class="col-xs-6 list-user">
                <h3><%= @match.job.title.upcase %></h3>
                  <% unless @match.job.location == "not defined" %>
                    <% location = @match.job.location.split(",") %>
                  <p><%=  location[0] + ", " + location[1] %></p>
                <% end %>
                <p>Skill: <%= @match.job.skill %></p>

                <% stars = Match.stars(@match.job.user) %>
                <% unless stars.nil? %>
                    <% (stars / 2).times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% if stars % 2 == 0 %>
                      <% (5 - (stars / 2)).times do %>
                        <i class="far fa-star"></i>
                      <% end %>
                    <% else %>
                      <i class="fas fa-star-half"></i>

                  <% end %>
                <% end %>
                <p>Reviews: <%= @reviews.count %> <%= stars %> </p>

                <p>Rate: £<%= @match.job.rate %> per day</p>
                <% unless @match.job.start_date.nil? %>
                  <p>Start date: <%= @match.job.start_date.strftime("%d-%m-%Y") %></p>
                  <p>End date: <%= @match.job.end_date.strftime("%d-%m-%Y") %></p>
                  <% end %>
              </div>
              <ul>

            <% else %>
              <div class="col-xs-12 col-md-6 avatar-name">
                <%= cl_image_tag @match.user.photo.url, class: "avatar-large" %>
                <h3><%= link_to "#{@match.user.name}", user_path(@match.user), class: "user-msg" %></h3>
              </div>
              <div class="col xs-12 col-md-6 list-user">
                <h3><%= @match.job.title.upcase %></h3>
                <% unless @match.job.location == "not defined" %>
                  <% location = @match.job.location.split(",") %>
                  <p><%=  location[0] + ", " + location[1] %></p>
                <% end %>
                <p>Skill: <%= @match.user.skill %></p>
                <p>Certificates: <%= @match.user.certificates %></p>
                <p>Reviews: <%= @reviews.count %></p>
                <p>Rate: £<%= @match.user.rate %> per day</p>
                <p>Start date: <%= @match.job.start_date.strftime("%d-%m-%Y") %></p>
                <p>End date: <%= @match.job.end_date.strftime("%d-%m-%Y") %></p>
              </div>
            <% end %>


            <ul class="list-inline mg-30">
              <li>
                <% if current_user.company && @match.job.title == "Query" %>
                    <% if current_user == @match.user %>
                      <%= link_to 'Add to a job', new_match_path(user: @match.job.user), class: "btn btn-orange" %>
                    <% elsif current_user == @match.job.user %>
                      <%= link_to 'Add to a job', new_match_path(user: @match.user), class: "btn btn-orange" %>
                    <% end %>

                <% end %>
              </li>
              <% unless @match.job.title == "Query" %>
                <li>
                  <% if !(Review.exist?(current_user.id, @match.id)) %>
                    <%= link_to "Leave review", new_match_review_path(@match), class: "btn btn-orange" %>
                  <% end %>
                </li>
                <li>
                  <% if @match.hired != true && current_user.company %>
                    <%= simple_form_for(@match, :url => hire_matches_path, method: :post) do |form| %>
                      <%= hidden_field_tag :match_id, @match.id %>
                      <%= form.button :submit, "Hire #{@match.user.name.capitalize}", class: "btn btn-orange", id: "hire" %>
                    <% end %>
                  <% elsif (@match.hired && @match.accepted == false) && current_user.company == false %>
                    <%= simple_form_for(@match, :url => accept_matches_path, method: :post) do |form| %>
                      <%= hidden_field_tag :match_id, @match.id %>
                      <%= form.button :submit, "Accept Job", class: "btn btn-orange", id: "accept" %>
                    <% end %>
                  <% elsif (@match.accepted && @match.hired) && !@match.job.finished? %>
                    <%= simple_form_for(@match.job, :url => finish_jobs_path, method: :post) do |form| %>
                      <%= hidden_field_tag :job_id, @match.job_id %>
                      <%= form.button :submit, "Mark Job as Finished", class: "btn btn-orange", id: "finish" %>
                    <% end %>
                  <% end %>
                </li>

              </ul>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 map-messages">
        <div
          id="map"
          style="width: 100%; height: 360px; margin-top: 12px; border-radius: 8px"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="messages-list">
        <% @match.messages.each do |message| %>
          <% if message.body %>
            <% message.user = User.find(message.user_id) %>
            <div class="messages">
              <% if message.user_id == current_user.id %>
                <div class="your_message">
                  <div class="content">
                    <div class="small-text"><strong><%= message.user.name %></strong> <%= message.created_at.strftime(" %H:%M %d-%m-%Y") %></div>
                    <%= message.body %>
                  </div>

                   <%= cl_image_tag message.user.photo.url, class: "avatar" %>
              <% else %>
                <div class="other_message">
                 <%= cl_image_tag message.user.photo.url, class: "avatar" %>
                <div class="content">
                 <div class="small-text"><strong><%= message.user.name %></strong> <%= message.created_at.strftime(" %H:%M %d-%m-%Y") %></div>
                 <%= message.body %>
                </div>
              <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <div class= "type-message">
      <%= form_for [@match, Message.new], html: {class: "ui reply form"} do |f| %>
        <div class="field">
          <%= f.text_field :body, class: "form-control", placeholder:"Type here..." %>
        </div>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden", class: "field-side"  %>
        <div>
          <%= f.submit "Send", type: "hidden", class: "btn btn-primary btn-side" %>
        </div>

      <% end %>
    </div>




    </div>
  </div>
</div>











<%= javascript_pack_tag "map" %>
<%= javascript_pack_tag "alert" %>
<%= javascript_pack_tag "buttons" %>
<%= javascript_pack_tag "messages" %>

</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['match_<%= @match.id %>'] = App.cable.subscriptions.create(
      { channel: 'MatchesChannel', match_id: <%= @match.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages-list');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
